In [2]:
import pandas as pd

# Load the data
df = pd.read_csv('NVDA.csv')  # Replace with the actual path to your CSV file

In [3]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,8/21/2019,4.263250,4.336250,4.241500,4.280750,4.256181,427244000
1,8/22/2019,4.290500,4.333250,4.247500,4.287000,4.262396,303488000
2,8/23/2019,4.210000,4.264750,4.041000,4.061000,4.037692,568056000
3,8/26/2019,4.140250,4.164500,4.097750,4.136250,4.112510,318208000
4,8/27/2019,4.174750,4.177500,4.015500,4.045000,4.021784,290968000
...,...,...,...,...,...,...,...
1238,7/24/2024,119.169998,119.949997,113.440002,114.250000,114.250000,327776900
1239,7/25/2024,113.040001,116.629997,106.300003,112.279999,112.279999,460067000
1240,7/26/2024,116.190002,116.199997,111.580002,113.059998,113.059998,293399100
1241,7/29/2024,113.690002,116.279999,111.300003,111.589996,111.589996,248152100
1242,7/30/2024,111.519997,111.989998,102.540001,103.730003,103.730003,486833300

In [4]:
from sklearn.preprocessing import MinMaxScaler

# Select the columns to scale (excluding 'Date')
columns_to_scale = df.columns.difference(['Date'])

# Initialize the scaler with the desired range
scaler = MinMaxScaler(feature_range=(0, 60))

# Fit and transform the data
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Check the scaled data
print(df.head())

        Date      Open      High       Low     Close  Adj Close     Volume
0  8/21/2019  0.109916  0.110955  0.124489  0.114140   0.111659  13.666135
1  8/22/2019  0.121957  0.109638  0.127292  0.116990   0.114493   8.531127
2  8/23/2019  0.086386  0.079567  0.030830  0.013911   0.012020  19.508847
3  8/26/2019  0.055566  0.035558  0.057340  0.048233   0.046140   9.141904
4  8/27/2019  0.070810  0.041265  0.018919  0.006613   0.004766   8.011635

In [5]:
df.to_csv('NVDA.csv', index=False)  # Replace with the desired output file path